.ipynb_checkpoints
.python-version
.env*
.vscode/*
.darglint

*_dashbord.html
output.xlsx
eksempel.xlsx
RA_resultatark.xlsx
tests/.cache/*
tests/.pytest_cache/*
.idea/
*.DS_Store
**/__pycache__
.pytest_cache/
notebooks/
notebooks
private_notebooks/
private_notebooks
andre_filer/
andre_filer
.pytest_cache/*
.coverage
*.ipynb
*.swp
*.swo
fram/mellomlagret_ventetid.*
lib/
bin/
pyvenv.cfg
.venv
*#
fram/output*
*.Rhistory
*innlest_ra.json
*.egg-info/
dist/
.coverage*
# Shelve-filer som benyttes til mellomlagring
*.db
fram/mellomlagret_ventetid*
fram/virkninger/ventetid/mellomlagret_ventetid*

scripts/
fram/eksempeloutput.xlsx
fram/strekningsvise_kalkpriser/Strekning\ 1.xlsx
fram/strekningsvise_kalkpriser/Strekning\ 12.xlsx
fram/strekningsvise_kalkpriser/nasjonale.xlsx
fram/kalkpriser_utslipp
innlest_ra.json
kalkpriser_oljeutslipp_*.json

# Documentation
docs/*
#docs/build/
#docs/html/
#*.hypothesis
